<ion-view view-title="guidePage" cache-view="false">
	<!--轮播图swiper-->
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img src="./img/guidePage/guide1@2x.png" />
			</div>
			<div class="swiper-slide"><img src="./img/guidePage/guide2@2x.png" /></div>
			<div class="swiper-slide" ng-click="func_goHome()"><img src="./img/guidePage/guide3@2x.png" />
			</div>
		</div>

	</div>
	
	
	
	
  <!--<ion-slide-box style="height: 100%" auto-play="true" >
  	<ion-slide class="royal-bg">1</ion-slide>
  	<ion-slide class="calm-bg">2</ion-slide>
  	<ion-slide class="assertive-bg">3</ion-slide>
  	<ion-slide class="energized-bg">4</ion-slide>
  	<ion-slide class="royal-bg">5</ion-slide>
  </ion-slide-box>-->
  <!--导航条-->
 <!--<!-- <div class="bar bar-header bar-energized"></div>
  <div class="bar bar-subheader bar-calm"></div>
  <div class="content"></div>
  <div class="bar bar-subfooter bar-calm"></div>
  <div class="bar bar-footer bar-energized"></div>-->
  <!--<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button class="button" ng-click="openModal()">左侧按钮</button>
  </div>
  <h1 class="title">Title!</h1>
  <div class="buttons">
    <button class="button" >右侧按钮</button>
  </div>
</ion-header-bar>
<script id="my-modal.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar ng-click="closeModal()">
      <h1 class="title" >我的模型标题</h1>
    </ion-header-bar>
    <ion-content>
      Hello!
    </ion-content>
  </div>
  <ion-footer-bar class="bar-calm">
  	
  </ion-footer-bar>-->
</ion-view>